.tittle-me{
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  font-family: cursive;
}

.info-me{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: white;
    font-family: cursive;
    letter-spacing: 2px;

}

.aboutmore__list {
    text-align: center;
    max-width: 1733px;
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 100px;
    // margin-left: 130px;
   
    li {
      width: 200px;
      height: 200px;
      box-shadow: 16px 14px 20px #0000008c;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      // cursor: pointer;
      a{
        text-decoration: none;
        color: #fff; 
        text-shadow: 0 0 16px hsl(0, 0%, 100%);
        position: absolute;
        z-index: 99;
      }
      
      &::before{
        content: "";
        background-image: conic-gradient(#fff 20deg,transparent 120deg);
        width: 150%;
        height: 150%;
        position: absolute;
        animation: rotate 3s linear infinite;
      }
      &:hover::before{
        animation: rotate 3s linear infinite reverse;

      }
      
    &::after{
        content: '';
        width: 190px;
        height: 190px;
        background: #101010;
        position: absolute;
        border-radius: 10px;
        display: flex;
      justify-content: center;
      align-items: center;
      color: #ff00bb;
      box-shadow: inset 20px 20px 20px #0000008c;
      }
      @keyframes  rotate{
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }
      p{
        font-size: 20px;
        a{
          font-size: 20px ;
        }
      }
      
    }

    


    .aboutmore__inner {
      width: 62px;
      height: 62px;
      background-color: rgba(33, 33, 33, 1);
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 21px;
      position: relative;
      .aboutmore__inner1 {
        width: 12px;
        height: 12px;
        background-color: rgba(39, 174, 96, 1);
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: 26px;
        right: 26px;
      }
    }
  }




 











  