.about__wrapper{
  padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.about-tittle{
  padding-bottom: 25px;
  margin-left: -40px;
    margin-top: 140px;
    font-size: 50px !important;
    font-weight: 700;
    color: white;
}
.about__tittle{
    font-size: 50px;
    color: white;
    font-weight: 700;
}
.info-about-me{
  font-size: 25px;
  color: white;
  font-weight: 300;
  margin-top: 50px; 
  letter-spacing: 2px;
  margin-left: 150px;
}
.about__right{
  position: relative;
  width: 500px;
  height: 500px;
  margin-right: 200px;
  margin-top: 50px;
}
.me-img{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-right: 200px;
    margin-top: 50px;
    bottom: -45px;
}
.why{
  margin-left: -140px;
}

.about-tittle{
    position: relative;
    font-size: 6em;
    color: #fff;
    text-align: center;
    -webkit-box-reflect: below -42px linear-gradient(transparent, #0004);
  }
  .about-span{
    margin: 0 5px; 
    font-size: 60px;
  }
@media(max-width:1531px){
  .about__wrapper{
margin: 0px auto;
display: flex;
justify-content: center !important;
.about__left{
  margin: 0 auto;

} 
.about__right{
 
 margin: 0 auto;

}
  }
}
@media(max-width:556px){
  .about__left{
    h2{
      margin: 0 auto;
    }
p{
  margin: 0 auto;
}
  }
  .about__right{
  margin: 0 auto;
    width: 300px !important;
    height:300px !important;
 img{
  width: 90%;
  height: 90%;
 }
   
   }
}


.big-bubble{
  position: relative;
  overflow: hidden;
  // height: 100vh;
  // width: 100%;
}
// .bubbles{
//   position: relative;
//   display: flex;
// }
// .bubbles span{
//   position: relative;
//   width: 30px;
//   height: 30px;
//   background: #4fc3dc;
//   margin: 0 4px;
//   border-radius: 50%;
//   box-shadow: 0 0 0 10px #4fc3dc44,
//   0 0 50px #4fc3dc,
//   0 0 100px #4fc3dc;
//   animation: animate 15s linear infinite; 
// }

// @keyframes animate{
//   0%{
//     transform: translateY(100vh) scale(0);
//   }
// }